<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.projectmigry.migry.portfolio.main.mapper.MainMapper">

	<select id="selectBlogLatestList" resultType="com.projectmigry.migry.portfolio.main.domain.BlogVO">
		select
			id,
			title,
			content,
			file_name fileName,
			ori_file_name oriFileName,
			date_format(rgst_dt, '%Y-%m-%d') rgstDt
		from tb_blog
		order by id desc
		limit 2
	</select>
	
	<select id="selectBlogInfo" parameterType="int" resultType="com.projectmigry.migry.portfolio.main.domain.BlogVO">
		select
			id,
			title,
			content,
			file_name fileName,
			ori_file_name oriFileName,
			date_format(rgst_dt, '%Y-%m-%d') rgstDt
		from tb_blog
		where id = #{id}
	</select>
	
	<select id="selectProjectList" resultType="com.projectmigry.migry.portfolio.main.domain.ProjectVO">
		select
			id,
			title,
			company,
			content,
			concat(substr(start_ym, 1, 4), '.', substr(start_ym, 5)) startYm,
			concat(substr(end_ym, 1, 4), '.', substr(end_ym, 5)) endYm
		from tb_project
		order by start_ym desc
	</select>

	<select id="selectSkillList" resultType="com.projectmigry.migry.portfolio.main.domain.SkillVO">
		select
			id,
			skill_name name,
			skill_rate rate
		from tb_skill
		order by order_num
	</select>

	<select id="selectProfile" resultType="com.projectmigry.migry.portfolio.main.domain.ProfileVO">
		select
			title,
			content,
			file_name fileName
		from tb_profile
		where id = 1
	</select>

	<select id="selectProfileFile" resultType="com.projectmigry.migry.portfolio.main.domain.ProfileVO">
		select
			file_name fileName,
			ori_file_name oriFileName
		from tb_profile
		where id = 1
	</select>

</mapper>